@import 'fonts.scss';

:root {
}
html {
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;

	.button {
		padding: 10px;
		font-size: 1em;
		font-weight: 500;
		cursor: pointer;
		border: none;
		border-radius: 4px;
		transition: background-color 0.3s;
		&.primary {
			background-color: $primary-blue;
			color: $light-text;

			&:hover {
				background-color: darken($primary-blue, 10%);
			}
		}

		&.error {
			background-color: $error-red;
			color: $light-text;

			&:hover {
				background-color: darken($error-red, 10%);
			}
		}

		&.warning {
			background-color: $warning-yellow;
			color: $dark-gray;

			&:hover {
				background-color: darken($warning-yellow, 10%);
			}
		}
	}

	.text {
		&.primary {
			color: $primary-text;
		}

		&.light {
			color: $light-text;
		}

		&.dark-gray {
			color: $dark-gray;
		}
	}
}
